* {
    margin: 0;
    padding: 0;
}
#listeFav {
    text-align: left;
}
#afficherFavoris {
    /*Header favoris*/
    cursor: pointer;
    font-size: 35px;
    margin-right: 5px;
}
#afficherListeCourse {
    cursor: pointer;
    font-size: 35px;
    margin-left: 5px;
}
#text-liste-courses {
    margin-bottom: 5px;
    font-size: 1.3em;
}
.text-favoris-modal {
    font-size: 1.3em;
    text-align: left;
}
.bouton-ingredient {
    width: 20px;
    height: 20px;
}
.delete-listeCourses {
    font-size: 20px !important;
    float: right;
    margin-right: 40%;
}
.delete-listeCourses:hover {
    font-size: 20px !important;
}
.x-btn-favList {
    /*Header favoris*/
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}
.btn-listes {
    display: flex;
    justify-content: center;
}
.modale-bouton {
    background: none;
    border: none;
}
.background {
    position: absolute;
    width: 100%;
    background-size: cover;
    filter: blur(3px) contrast(1.2) brightness(0.8);
    z-index: -1;
    user-select: none;
}
.background-element {
    background-color: rgba(255, 255, 255, 0.399);
    max-height: 125px;
}
.material-icons {
    user-select: none;
    font-size: 35px;
}
.titre {
    font-family: "Karla";
    text-align: center;
}
.titre-btn {
    text-align: center;
}
#recharger:hover {
    cursor: pointer;
}
.para-ingredient {
    font-size: 0.9em;
}
.nom-aleatoire-un,
.nom-aleatoire-deux,
.nom-aleatoire-trois {
    font-size: 1.2em;
}
.texte-modal {
    width: auto;
    margin-left: auto;
    padding-left: 60px;
    margin-right: auto;
}
#duree1,
#duree2,
#duree3 {
    font-size: 1em;
}
#etapes1,
#etapes2,
#etapes3 {
    font-size: 1em;
}
.card {
    max-height: 450px;
}
.card.revealed {
    position: absolute;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease;
    height: auto;
    max-height: none;
}
.container.section-recettes {
    position: relative;
}
.section-recettes {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.img-recettes {
    pointer-events: none;
    width: fit-content;
    height: auto;
    user-select: none;
}
.recettes {
    width: 20vw;
    height: auto;
}
.bouton-fermer-ouvrir {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.x-btn-favList {
    font-size: 25px !important;
    margin-right: 40%;
}
.x-btn-favList:hover {
    font-size: 25px !important;
}
