.titre {
    font-family: "Karla";
    text-align: center;
    padding-top: 80px;
}
.titre-btn {
    text-align: center;
}
#recharger:hover {
    cursor: pointer;
}
.para-ingredient {
    font-size: 0.8em;
}
.section-recettes {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.nom-aleatoire-un {
    font-size: 1em;
}
.img-recettes {
    width: 20vw;
    height: auto;
}
.recettes {
    width: 20vw;
    height: auto;
}
.bouton-fermer-ouvrir {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.bouton-favoris {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    border: none;
    background: transparent;
}
.bouton-favoris:focus {
    background: none;
    background-color: transparent;
}
