.autocomplete {
    position: absolute;
    top: 100%; 
    z-index: 1000; /* Assure que les suggestions restent au-dessus du contenu */
    width: 100%; /* Largeur correspondante à la barre de recherche */
    background-color: #ededed;
    border: 1px solid #ccc;
    border: none; 
    max-height: 250px; /* Hauteur maximale des suggestions pour éviter un débordement */
    overflow-y: auto; /* Défilement vertical si nécessaire */
}


/* STYLE LIENS POUR LES NAV */


.custom-link {
    color: #ffffff;
    text-decoration: none;
}

.custom-link:hover {
    color: #ffffffc5; 
    text-decoration: underline;
}

#autocompleteContainer1{
    position: absolute;
    float: right;
    top: 90px;
    background-color: coral;
    border-radius: 8px;

}